html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPage {
  width: 100%;
  height: 100%;
}

.landingPage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPageComponents {
  width: 100%;
  height: 100%;
}

.glowinZeroLogo {
  width: 100%;
  height: 100%;
}

.glowinZeroLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
